.css-k3w14i.effi0qh3{   
     display: none!important;
}
.css-10trblm.e16nr0p30{
text-align: center;
}
.css-ocqkz7.e1tzin5v4:first-child{
    width: 90% !important;
}
.css-ocqkz7 {
    
    align-items: center !important;
}